body {
  background: linear-gradient(42deg, rgb(248, 121, 56) 0%, rgb(189, 123, 159) 84%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}


footer {
  margin: 20px 0;
}

