body {
  background: linear-gradient(42deg, rgb(248, 121, 56) 0%, rgb(189, 123, 159) 84%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  text-shadow: 2px 5px 10px rgba(160, 105, 105, 0.4);
}

footer {
  margin: 20px 0;
}

