.partOfSpeech {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: lighter;
}

.definitions {
    text-align: left;
    margin-left: 30px;
}

.examples {
    font-style: italic;
    margin-left: 30px;
    text-align:left;
}