.partOfSpeech {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: lighter;
}

.definitions {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 15px;
    max-width: 700px;
    line-height: 27px;
}

.examples {
    font-style: italic;
    margin-left: 30px;
    text-align:left;
    margin-bottom: 15px;
}