.Results section {
    background: linear-gradient(42deg, rgb(255, 131, 69) 0%, rgb(184, 117, 62) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 800px;
    border: 2px outset rgb(184, 97, 62);
    border-radius: 24px;
    box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.2);
}

.word {
    text-align: left;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: lighter;
    text-transform: capitalize;
    text-shadow: 0px 5px 10px rgba(26, 17, 17, 0.4);
}

.phoneticText {
    font-size: 18px;
}

a {
    font-size: 20px;
    color: rgb(97, 42, 16, 0.788);
    transition: all 30ms ease-in-out;
    text-decoration: none;
}

a:hover {
    color: rgba(26, 17, 17, 0.253);
}

.refresh {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}

.synonyms, .antonyms, .phoneticLink {
    font-style: italic;
    text-align: left;
    margin-left: 30px;
    margin-top: 5px;
}

.first {
    margin-bottom: 30px;
}