.Results {
    background: linear-gradient(42deg, rgb(255, 131, 69) 0%, rgb(184, 117, 62) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 800px;
    border: 2px outset #f1945d;
    border-radius: 24px;
    box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.2);
}